@{
    ViewData["Title"] = "Home Page";
}
@{
    var ahmad = "ahmad";
}
<div class=" right row align-items-center justify-content-center position-relative">
    <div class="col-12 col-lg-6 order-2 order-lg-1 d-flex flex-column d-md-block justify-content-center align-items-center">
        <h1 class=" text-center text-md-start"> <span style="font-weight:700">E</span>asy <span style="font-weight:700 ; color : #275CF6">B</span>uchhaltung  </h1>
        <div class="text text-black-50  text-center text-md-start   mt-5  mb-5">
            Spare dir den teuren Steuerberater und erledige deine Buchhaltung in einem einzigen Schritt! Unsere maßgeschneiderte Lösung für Airbnb und Booking.com Gastgeber macht es möglich.
        </div>
        <button class="btn main-btn "> Jetzt Probieren </button>
    </div>
    <div class="image col-12 col-md-10 col-lg-6 order-1 order-lg-2 align-items-center justify-content-center d-flex"><img class="img-fluid" src="~/images/landingimg.png" /></div>
    <a href="#gastgaber" class=" go-down d-flex justify-content-center align-item-center position-absolute bottom-0">
        <div class="circle d-flex justify-content-center align-items-center ">
            <i class="fa-solid fa-arrow-down"></i>
        </div>
    </a>
</div>


<div class=" left row align-items-center justify-content-center " id="gastgaber">
    <div class="image col-10 col-md-10 col-lg-6  align-items-center justify-content-center d-flex "><img class="img-fluid" src="~/images/Gastgaber.png" /></div>
    <div class="col-12 col-lg-6 d-flex flex-column  d-md-block justify-content-center align-items-center ">
        <h1 class="p-sm-1 text-center text-md-start">
            Für<span style="color:#FF2950"> Airbnb </span>und <span style="color:#003580"> Booking.com </span> Gastgeber
            maßgeschneidert
        </h1>
        <div class="text  text-black-50 mt-3   mb-3 mt-lg-5  mb-lg-5 text-center text-md-start">
            Als Gastgeber ist es wichtig, Ihre Buchhaltung effizient zu verwalten,
            um Zeit und Stress zu sparen. Unsere integrierte Buchhaltungslösung
            ermöglicht es Ihnen, Ihre Airbnb- und Booking.com-Konten mit unserer
            Software zu verbinden, so dass alle relevanten Buchhaltungsinformationen
            automatisch gesammelt und organisiert werden. Verwalten Sie Ihre Finanzen
            in nur wenigen Klicks und behalten Sie immer den Überblick.
        </div>
        <button class="btn main-btn "> Jetzt Probieren </button>
    </div>
</div>

<div class=" right row align-items-center justify-content-center ">
    <div class="col-12 col-lg-6 order-2 order-lg-1 d-flex flex-column d-md-block justify-content-center align-items-center">
        <h1 class=" text-center text-md-start">
            <span class="AI">AI</span>Rechnungs erkennung
        </h1>
        <div class="sect text-black-50  text-center text-md-start   mt-3  mt-md-3   mb-5">
            Keine manuelle Eingabe von Rechnungen mehr - laden Sie einfach ein Foto hoch!
            Unsere fortschrittliche AI-Technologie erkennt automatisch alle relevanten Informationen auf Ihren Rechnungen, wie Beträge, 
            Kategorien und Steuersätze, und ordnet sie automatisch den richtigen Buchhaltungskonten zu. Dadurch sparen Sie Zeit und 
            können sich auf das Wichtigste konzentrieren - die Vermietung Ihrer Unterkunft.
        </div>
        <button class="btn main-btn "> Jetzt Probieren </button>
    </div>
    <div class="image col-12 col-md-10 col-lg-6 order-1 order-lg-2 align-items-center justify-content-center d-flex"><img class="img-fluid" src="~/images/AI.jpg" /></div>
</div>

<div class=" left row align-items-center justify-content-center " id="gastgaber">
    <div class="image col-10 col-md-10 col-lg-6  align-items-center justify-content-center d-flex "><img class="img-fluid" src="~/images/Folders.png" /></div>
    <div class="col-12 col-lg-6 d-flex flex-column  d-md-block justify-content-center align-items-center ">
        <h1 class="p-sm-1 text-center text-md-start">
            Rechnungen 10 Jahre
            für das Finanzamt
            aufbewahren!

        </h1>
        <div class="text  text-black-50 mt-3   mb-3 mt-lg-5  mb-lg-5 text-center text-md-start">
            Sind Sie sich der Tatsache bewusst, dass Sie Ihre Buchhaltungsunterlagen für das Finanzamt für 10 Jahre aufbewahren müssen? Das bedeutet, 
            dass Sie Ihre Buchhaltungsdateien sorgfältig und sicher aufbewahren müssen, um bei einer möglichen Steuerprüfung keine Schwierigkeiten zu haben.
            Mit EasyBuchhaltung müssen Sie sich darüber keine Sorgen machen. Wir bieten eine sichere Online-Aufbewahrung Ihrer Buchhaltungsdateien für die nächsten 10 Jahre.
        </div>
        <button class="btn main-btn "> Jetzt Probieren </button>
    </div>
</div>

<div class=" right row align-items-center justify-content-center ">
    <div class="col-12 col-lg-6 order-2 order-lg-1 d-flex flex-column d-md-block justify-content-center align-items-center">
        <h1 class=" text-center text-md-start">
            Persönliche Beratung durch unseren Steuerberater
        </h1>
        <div class="sect text-black-50  text-center text-md-start   mt-3  mt-md-3   mb-5">
            Als EasyBuchhaltung Premium-Nutzer haben Sie Zugang zu unserem persönlichen Steuerberater, der alle Ihre steuerlichen Fragen in kürzester Zeit beantwortet. 
            Mit diesem Service können Sie sicher sein, 
            dass Sie stets professionelle und zuverlässige Unterstützung erhalten. Probieren Sie es heute aus und profitieren Sie von unseren Premium-Funktionen!
        </div>
        <button class="btn main-btn "> Jetzt Probieren </button>
    </div>
    <div class="image col-12 col-md-10 col-lg-6 order-1 order-lg-2 align-items-center justify-content-center d-flex"><img class="img-fluid" src="~/images/Steuerberater.jpg" /></div>
</div>

<div class="  d-flex flex-column align-items-center justify-content-center pt-5 pb-5">
    <h1 class=" text-center text-md-start">
        Preispläne
    </h1>
    <button  class="btn plan-type-selecter position-relative mt-5 mb-5">
        <span class="jearlich"> Jährlich</span>
        <span class="monatlich text-black-50"> Monatlich</span>
        <div class="mover position-absolute">           
        </div>
        
    </button>
    <div class="row w-75  justify-content-around align-items-between">
        <div class=" p-5 mt-3 mb-3  col-12 col-lg-5 price-plan-container p-0">
            <div class="price-container">
                <h2 class=" mb-4 fw-bold"> Pro </h2>
                <h2 class=" mb-4 fw-bold "> 24.99€ <span class="text-black-50 fs-5 fw-bold">/ Month</span> </h2>
            </div>
            <div class="line"> </div>
            <ul class=" p-0 pt-5 " >
                <li> <i class="fa-solid fa-circle-check"></i> Monatliche Buchhaltung </li>
                <li> <i class="fa-solid fa-circle-check"></i>AI Rechnungserkennung </li>
                <li> <i class="fa-solid fa-circle-check"></i> 10 Jahre Dokumentenarchivierung </li>
                <li class="text-black-50"> <i class="fa-solid fa-circle-check text-black-50 "></i> Steuerberater </li>
            </ul>
            <button class="btn main-btn "> Jetzt Regestrieren </button>
        </div>
        <div class=" p-5 mt-3 mb-3  col-12 col-lg-5 price-plan-container p-0">
            <div class="price-container">
                <h2 class=" mb-4 fw-bold" style="color:var(--main-blue)"> Premium </h2>
                <h2 class=" mb-4 fw-bold "> 34.99€ <span class="text-black-50 fs-5 fw-bold">/ Month</span> </h2>
            </div>
            <div class="line"> </div>
            <ul class=" p-0 pt-5 ">
                <li> <i class="fa-solid fa-circle-check"></i> Monatliche Buchhaltung </li>
                <li> <i class="fa-solid fa-circle-check"></i>AI Rechnungserkennung </li>
                <li> <i class="fa-solid fa-circle-check"></i> 10 Jahre Dokumentenarchivierung </li>
                <li > <i class="fa-solid fa-circle-check  "></i> Steuerberater </li>
            </ul>
            <button class="btn main-btn "> Jetzt Regestrieren </button>
        </div>

        </div>
    </div>